---
import { transformRichText } from "@/lib/richText/transformRichText";

interface Props {
	title: string;
	content: string;
	description: string;
}

const { title, content, description } = Astro.props;
const renderedContent = await transformRichText(content);
---

<h1 class="title" data-pagefind-meta="title">{title}</h1>
<p class="summary" data-pagefind-meta="description">
  {description}
</p>
<div class="post" set:html={renderedContent} />

<style>
  .title {
    padding-bottom: 0.5em;
    line-height: 1.2;
    color: rgb(var(--black));
    font-size: 3rem;
  }
  .summary {
    margin: 0.5em 0;
    font-size: 1rem;
    color: rgb(var(--gray));
  }
  .post {
    line-height: 1.7;
  }
  .post :global(h2) {
    margin: 1.5em 0 0.5em;
    font-size: 2rem;
  }
  .post :global(h3) {
    margin: 1.25em 0 0.5em;
    font-size: 1.1rem;
  }
  .post :global(p) {
    margin: 0.75em 0;
  }
  .post :global(ul),
  .post :global(ol) {
    margin: 0.75em 0;
    padding-left: 1.5em;
  }
  .post :global(ul) {
    list-style: disc;
  }
  .post :global(ol) {
    list-style: decimal;
  }
  .post :global(li) {
    margin: 0.25em 0;
  }
  .post :global(a) {
    color: var(--accent);
    text-decoration: underline;
  }
  .post :global(img) {
    @apply rounded-md shadow-md;
    margin: 0.75em 0;
  }
  .post :global(figcaption) {
    font-size: 0.8em;
    color: rgb(var(--gray));
  }
</style>
