@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		height: 100%;
	}

	:root {
		--main: #509efe;
		--accent: #2382ff;
		--accent-dark: #005dd8;
		--black: 15, 18, 25;
		--gray: 96, 115, 159;
		--gray-light: 229, 233, 240;
		--gray-dark: 34, 41, 57;
		--gray-gradient: rgba(var(--gray-light), 50%), #fff;
		--box-shadow:
			0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
			0 16px 32px rgba(var(--gray), 33%);
	}

	@font-face {
		font-family: 'MPLUS1Code';
		src: url('/fonts/MPLUS1Code-VariableFont_wght.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	body {
		@apply m-0 p-0 text-left break-words text-[rgb(var(--gray-dark))] text-[20px] leading-[1.7] flex flex-col min-h-screen;
		font-family: 'MPLUS1Code', sans-serif;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		background-size: 100% 600px;
	}

	main {
		@apply w-[720px] max-w-[calc(100%-2em)] mx-auto py-12 px-4 flex-1;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply mb-2 text-[rgb(var(--black))] leading-tight;
	}

	h1 {
		@apply text-[2.5em] font-normal;
	}

	h2 {
		@apply text-[2.25em] font-medium;
	}

	h3 {
		@apply text-[1.75em] font-black;
	}

	h4 {
		@apply text-[1.375em] text-[rgb(var(--gray))];
	}

	h5 {
		@apply text-[1.125em] text-[rgb(var(--gray))];
	}

	strong,
	b {
		@apply font-bold;
	}

	a {
		@apply text-[var(--accent)];
	}

	a:hover {
		@apply text-[var(--accent-dark)];
	}

	p {
		@apply mb-4;
	}

	.prose p {
		@apply mb-8;
	}

	textarea {
		@apply w-full text-base;
	}

	input {
		@apply text-base;
	}

	table {
		@apply w-full;
	}

	img {
		@apply max-w-full h-auto rounded-lg;
	}

	code {
		@apply px-1 py-0.5 rounded bg-[rgb(var(--gray-light))];
	}

	pre {
		@apply p-6 rounded-lg;
	}

	pre > code {
		all: unset;
	}

	blockquote {
		@apply m-0 pl-5 text-[1.333em] border-l-4 border-[var(--accent)];
	}

	hr {
		@apply border-0 border-t border-[rgb(var(--gray-light))] my-8;
	}

	@media (max-width: 720px) {
		body {
			@apply text-[18px];
		}

		main {
			@apply p-4;
		}
	}
}

@layer utilities {
	.sr-only {
		border: 0;
		padding: 0;
		margin: 0;
		position: absolute !important;
		height: 1px;
		width: 1px;
		overflow: hidden;
		/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
		clip: rect(1px 1px 1px 1px);
		/* maybe deprecated but we need to support legacy browsers */
		clip: rect(1px, 1px, 1px, 1px);
		/* modern browsers, clip-path works inwards from each corner */
		clip-path: inset(50%);
		/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
		white-space: nowrap;
	}
}
