---
---

<div class="flex sm:flex-row flex-col gap-4">
  <div class="w-1/2">
    <h2>Interests</h2>
    <ul class="list-disc list-inside">
      <li>Web開発</li>
      <li>AIエージェント</li>
      <li>技術系イベント</li>
    </ul>
  </div>
  <div class="w-1/2">
    <h2>Hobbies</h2>
    <ul class="list-disc list-inside">
      <li>VRChat</li>
      <li>Minecraft</li>
    </ul>
    <p class="interest-note">増やしたい...</p>
  </div>
</div>

<style>
  .interest-note {
    @apply text-sm text-right;
    color: rgb(var(--gray));
  }
</style>
