---
---

<div class="flex gap-4">
  <div class="w-1/2">
    <h2>Interests</h2>
    <ul class="list-disc list-inside">
      <li>Web開発</li>
      <li>AIエージェント</li>
      <li>技術系イベント</li>
    </ul>
  </div>
  <div class="w-1/2">
    <h2>Hobbies</h2>
    <ul class="list-disc list-inside">
      <li>VRChat</li>
      <li>Minecraft</li>
    </ul>
    <p class="text-gray-500 text-sm text-right">増やしたい...</p>
  </div>
</div>
