---
import AboutProfile from "./AboutProfile.astro";
import AboutInterests from "./AboutInterests.astro";
import AboutActivities from "./AboutActivities.astro";
---

<h1>About</h1>
<AboutProfile />
<hr />
<AboutInterests />
<hr />
<AboutActivities />
