---
import { Icon } from "astro-icon/components";

interface LinkItem {
	service: string;
	url: string;
	icon: string | null;
	name: string;
}

interface Props {
	links: LinkItem[];
}

const { links } = Astro.props;
---

<h2 class="section-title">Links</h2>
<ul class="links">
  {links.map((link) => (
    <li class="link-item">
      <Icon name={link.icon ?? "ri:link"} size={24} />
      {link.service}:&nbsp;
      <a href={link.url} target="_blank" rel="noopener noreferrer">
        <span class="link-name">{link.name}</span>
      </a>
    </li>
  ))}
</ul>
