<h2 class="section-title">Special Thanks</h2>
<ul class="special-thanks">
  <li>
    アイコンイラスト: Gao｡
    (<a href="https://x.com/Gao_o88o" class="underline" target="_blank" rel="noopener noreferrer">@Gao_o88o</a>)
  </li>
</ul>
