---
import SearchAction from "./SearchAction.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<div class="header-actions">
  <SearchAction />
  <ThemeToggle />
</div>

<style>
  .header-actions {
    @apply flex items-center gap-4;
  }
</style>

