---
import { SITE_TITLE } from "@/consts";
import { Icon } from "astro-icon/components";
---

<h1>
  <a href="/">
    <Icon name="ri:terminal-fill" color="var(--main)" />
    {SITE_TITLE}
  </a>
</h1>

<style>
  h1 {
    @apply m-0 text-[1em];
  }

  h1 a,
  h1 a.active {
    @apply flex items-center gap-2 no-underline text-[rgb(var(--gray-dark))];
  }
</style>
