---
import { Icon } from "astro-icon/components";
---

<label for="nav-toggle" class="menu-toggle">
  <span class="sr-only">メニュー</span>
  <span class="icon-hamburger">
    <Icon name="ri:menu-line" size={28} />
  </span>
  <span class="icon-close">
    <Icon name="ri:close-line" size={28} />
  </span>
</label>

<style>
  .menu-toggle {
    @apply flex md:hidden items-center justify-center p-2 cursor-pointer;
  }

  .icon-close {
    @apply hidden;
  }
</style>

