---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a
  href={href}
  class:list={["header-link", className, { active: isActive }]}
  {...props}
>
  <slot />
</a>
<style>
  .header-link {
    @apply inline-block py-4 px-2 text-[rgb(var(--black))] border-b-4 border-transparent no-underline;
  }

  .header-link.active {
    @apply font-extrabold;
    border-bottom-color: var(--main);
  }
</style>
